<div class="row" id="FILE_{{name}}" style="background-color: aliceblue;">
      
      
            <form id="form_{{name }}" class="form-group" >
                                        <div class="col-md-1 form-group"></div>

 
                                        <div class="col-md-2 form-group">
<div><a href="/images/{{ name}}" target="_blank"><img src="/images/{{name}}" alt="{{name}}" class="img-thumbnail" style="height: 175px;"></a></div>
                                             </div>


                                            <div class="col-md-2 form-group">
                                                <p class="text-center"><b>{{name }}</b></p> 
                                                  <input type="hidden" name="hidden_name_file" id="hidden_name_file_{{name }}" value="{{name}}">
                                            </div>
                                        <div class="col-md-2 form-group" style="border-right-style: solid;">
                                            <label >new name<span>*</span></label>
                                            <input class="form-control" type="text" name="oldnamefile" id="oldnamefile_{{name }}"required="required" aria-required="true">
                                        </div>

                        <div class="col-md-1 form-group"style="border-right-style: solid;">
                                           <label for="" class=""> Pagination <span class="fb-required">*</span></label>
                                            
                                         
                                                    <select name="pagination" id="pagination_{{name }}" class="form-control">
                                                      <option name="pagination" value=""></option>
                                                      <option name="pagination" value="1A">1A</option>
                                                      <option name="pagination" value="1B">1B</option>
                                                      <option name="pagination" value="1C">1C</option>
                                                      <option name="pagination" value="1D">1D</option>
                                                      <option name="pagination" value="1E">1E</option>
                                                      <option name="pagination" value="1F">1F</option>
                                                      <option name="pagination" value="1G">1G</option>
                                                      <option name="pagination" alue="1H">1H</option>
                                                      <option name="pagination" value="1I">1I</option>
                                                      <option name="pagination" value="2A">2A</option>
                                                      <option name="pagination" value="2B">2B</option>
                                                      <option name="pagination" value="2D">2C</option>
                                                      <option name="pagination" value="2E">2E</option>
                                                      <option name="pagination" value="2F">2F</option>
                                                      <option name="pagination" value="3A">3A</option>
                                                      <option name="pagination" value="3B">3B</option>
                                                      <option name="pagination" value="3D">3D</option>
                                                      <option name="pagination" value="3E">3E</option>
                                                    </select>
                                            
                        </div>

                        <div class="col-md-1 form-group"style="border-right-style: solid;">
                                           
                                                <label>Zone</label>
                                         

                                                    <select name="zone{{name }}" id="zone_{{name }}" class="form-control">
                                                        <option name="zone" value=""></option>
                                                        <option name="zone" value="Z1">Z1</option>
                                                        <option name="zone" value="Z2">Z2</option>
                                                        <option name="zone" value="X"> X</option>
                                                    </select>
                                          
                        </div>
                        <div class="col-md-1 form-group">
                                        <button  class="btn btn-primary  form-control"type="button" onclick="save_name(this)"data-string="{{name}}"> save </button>
                                        <button class="btn btn-primary form-control"type="button" onclick="hide(this)" data-string="{{name}}" >hide</button>
                        </div>
                      
            </form>

</div>